* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(../assets/images/mountains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  body {
    background-position: top;
  }

  h1 {
    font-size: 1.8rem;
  }
}

.container {
  max-width: 400px;
  width: 85%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

.form {
  display: grid;
  row-gap: 10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
  }
}

.form__input,
.form__submit {
  width: 100%;
  padding: 0.8em;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 0.25em;
}

@media screen and (min-width: 768px) {
  .form__input,
  .form__submit {
    padding: 1.1em;
    font-size: 1.2rem;
  }

  .form__submit {
    grid-area: 1 / 2;
  }
}

.form__error {
  text-align: center;
  font-style: italic;
  color: white;
}

@media screen and (min-width: 768px) {
  .form__error {
    font-size: 1rem;
    text-align: left;
  }
}

.form__error--hidden {
  display: none;
}

.form__submit {
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.form__submit:hover {
  background-color: rgba(255, 255, 255);
}

.boxes {
  display: grid;
  row-gap: 15px;
}

@media screen and (min-width: 768px) {
  .boxes {
    width: 100%;
    margin: 0 auto;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}

.spinner {
  border: 4px solid rgba(255, 255, 255, .9);
  width: 36px;
  height: 36px;
  margin: 0 auto 10px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

.spinner--hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 130px;
  margin: 0 auto;
  text-align: center;
  color: white;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (min-width: 768px) {
  .box {
    width: 100%;
    height: 180px;
  }

  .box--3 {
    width: 342.5px;
    grid-column: span 2;
  }
}

.box--hidden {
  display: none;
}

.city {
  margin-bottom: 0;
}

.weather-icon {
  width: 85px;
  height: 85px;
}

@media screen and (min-width: 768px) {
  .weather-icon {
    width: 120px;
    height: 120px;
  }
}

.description,
.wind-speed {
  margin-top: 0;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .description,
  .wind-speed {
    font-size: 2rem;
  }
}
